In [57]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [58]:
import numpy as nm  
import matplotlib.pyplot as plt 
import pandas as pd

In [59]:
df= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/BIA/Machine Learning/Dataset/50_companies.csv')

In [60]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [61]:
df.shape

(50, 5)

In [62]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [63]:
#Categorical data  
from sklearn import preprocessing
  
label_encoder = preprocessing.LabelEncoder()
  
df['State']= label_encoder.fit_transform(df['State'])

In [64]:
#Extracting Independent and dependent Variable  
#Extracting Independent and dependent Variable  
X = df.iloc[:, :-1].values  
y = df.iloc[:, 4].values

In [65]:
df['State'].unique()

array([2, 0, 1])

In [66]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.7,random_state=0)

In [67]:
from sklearn.linear_model import LinearRegression  
LR = LinearRegression()  
LR.fit(X_train,y_train)

LinearRegression()

In [68]:
#Testing the model using the predict function

y_pred = LR.predict(X_test)
y_pred

array([104055.1842384 , 132557.60289702, 133633.01284474,  72336.28081054,
       179658.27210893, 114689.63133397,  66514.82249033,  98461.69321326,
       114294.70487032, 169090.51127461,  96281.907934  ,  88108.30057881,
       110687.1172322 ,  90536.34203081, 127785.3793861 ])

In [69]:
#Testing scores

testing_data_model_score = LR.score(X_test, y_test)
print("Model Score/Performance on Testing data",testing_data_model_score)

training_data_model_score = LR.score(X_train, y_train)
print("Model Score/Performance on Training data",training_data_model_score)

Model Score/Performance on Testing data 0.9355139722149947
Model Score/Performance on Training data 0.9515496105627431

In [70]:
#Comparing the predicted values and actual values

df = pd.DataFrame(data={'Predicted value':y_pred.flatten(),'Actual Value':y_test.flatten()})
df

#Inference :

#As we can see that the predicted value is close to the actual values i.e the one present in the testing set, Hence we can use this model for prediction. 
#But first, we need to calculate how much is the error generated.

    Predicted value  Actual Value
0     104055.184238     103282.38
1     132557.602897     144259.40
2     133633.012845     146121.95
3      72336.280811      77798.83
4     179658.272109     191050.39
5     114689.631334     105008.31
6      66514.822490      81229.06
7      98461.693213      97483.56
8     114294.704870     110352.25
9     169090.511275     166187.94
10     96281.907934      96778.92
11     88108.300579      96479.51
12    110687.117232     105733.54
13     90536.342031      96712.80
14    127785.379386     124266.90

In [71]:
#Model evaluation
#1. R2 score: R2 score – R squared score. It is one of the statistical approaches by which we can find the variance or the spread of the target and feature data.

from sklearn.metrics import r2_score

r2Score = r2_score(y_pred, y_test)
print("R2 score of model is :" ,r2Score*100)

R2 score of model is : 93.39448007716635

In [72]:
#2. MSE: MSE – Mean Squared Error. By using this approach we can find that how much the regression best fit line is close to all the residual.

from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_pred, y_test)
print("Mean Squarred Error is :" ,mse*100)

Mean Squarred Error is : 6224496238.946446

In [73]:
#RMSE: RMSE – Root Mean Squared Error. This is similar to the Mean squared error(MSE) approach, the only difference is that here we find the root of the mean squared error i.e. root of the Mean squared error is equal to Root Mean Squared Error. The reason behind finding the root is to find the more close residual to the values found by mean squared error.
import numpy as np

rmse = np.sqrt(mean_squared_error(y_pred, y_test))
print("Root Mean Squarred Error is : ",rmse*100)

Root Mean Squarred Error is :  788954.7666974607

In [74]:
#MAE: MAE – Mean Absolute Error. By using this approach we can find the difference between the actual values and predicted values but that difference is absolute i.e. the difference is positive.

from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_pred,y_test)
print("Mean Absolute Error is :" ,mae)

Mean Absolute Error is : 6503.577323580028

In [75]:
#So, the mean absolute error is 6503.577323580025. Therefore our predicted value can be 6503.577323580025 units more or less than the actual value.

In [76]:
from sklearn.metrics import r2_score
score = r2_score(y_test,y_pred)
print(score)

0.9355139722149947